.checkerboard {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  background-color: #CC9966;
  border-radius: 5px;

  .wrapBox {
    position: absolute;
    left: 20px;
    top: 20px;

    .rowBox {
      font-size: 0;

      .box {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        position: relative;

        .player {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }
  }

  .tableBox {
    position: relative;

    .tableRows {
      position: absolute;
      left: 0;
      top: 0;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;

      .rows {
        border-top: 1px solid #000;
        box-sizing: border-box;
      }
    }

    .tableColumns {
      .columns {
        display: inline-block;
        border-left: 1px solid #000;
        box-sizing: border-box;
        vertical-align: top;
      }
    }
  }
}