.GameInfo {
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;

  .infoItem {
    display: inline-block;
    vertical-align: top;
    padding: 4px 20px;
    font-weight: bold;
    font-size: 18px;
  }

  .winner {
    font-size: 24px;
    font-weight: bold;
    color: #33CC00;
    line-height: 40px;
  }
}